<style>
    @import url(https://fonts.googleapis.com/css?family=Lato:700);
    
    /* common */
    .ribbon {
      width: 150px;
      height: 150px;
      overflow: hidden;
      position: absolute;
    }
    .ribbon::before,
    .ribbon::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
      border: 5px solid #2980b9;
    }
    .ribbon span {
      position: absolute;
      display: block;
      width: 225px;
      padding: 15px 0;
      background-color: #b11b11;
      box-shadow: 0 5px 10px rgba(0,0,0,.1);
      color: #fff;
      font: 700 18px/1 'Lato', sans-serif;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      text-transform: uppercase;
      text-align: center;
    }
    
    /* top right*/
    .ribbon-top-right {
      top: -10px;
      right: -10px;
    }
    .ribbon-top-right::before,
    .ribbon-top-right::after {
      border-top-color: transparent;
      border-right-color: transparent;
    }
    .ribbon-top-right::before {
      top: 0;
      left: 0;
    }
    .ribbon-top-right::after {
      bottom: 0;
      right: 0;
    }
    .ribbon-top-right span {
      left: -25px;
      top: 30px;
      transform: rotate(45deg);
    }
    
</style>

<script lang="javascript">

function showRibbon(){
    const ribbonDiv = document.createElement('div');
    ribbonDiv.className = "ribbon ribbon-top-right";
    ribbonDiv.innerHTML = "<span><i class='fas fa-edit'>&nbsp;&nbsp;Draft</i></span>";
    document.getElementById('body').appendChild(ribbonDiv);
};
// add to window onload()
window.addEventListener('load', (event) => {
    if (!window.location.hostname.endsWith("aws")) {
        showRibbon();
    }
});
</script>


